html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:root {
  --icon-size: 24;
}
.flex {
  display: flex;
}
.container {
  position: relative;
  width: 100%;
}
#container {
  display: none;
  color: white;
  font-family: sans-serif;
}
@media screen and (min-width: 800px) {
  #container {
    max-width: 33vw;
  }
}
html.fishing #container {
  display: flex;
  flex-direction: column;
}
#header, #footer {
  background: rgba(10,10,10,.5);
}
#header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#header > * {
  padding: 0.5rem;
}
#spot {
  font-size: .8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;
  flex-basis: 100%;
}
#spot:empty::before {
  content: 'Unknown';
  opacity: 0.7;
}
#timer:empty::before {
  content: '0.0';
}
#entries {
  position: relative;
}
html.show-settings #entries {
  visibility: collapse;
  /* Following are needed because collapse doesn't work on Chrome for some reason */
  position: absolute;
  left: -9999px;
  top: -9999px;
}
#marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.markline {
  display: none;
  width: 0;
  height: 100%;
  border-right: 3px solid black;
  /* This is very important! If not set it will default to ease and not align with min max records! */
  animation-timing-function: linear;
  /* Stays at 100% once finished */
  animation-fill-mode: forwards;
}
.markline[data-dur="30"] {
  animation-duration: 30s;
}
.markline[data-dur="45"] {
  animation-duration: 45s;
}
html.long-cast .markline[data-dur="45"] {
  animation-delay: -30s;
}
html.fishing .markline {
  display: block;
}
html.marker-animated .markline {
  animation-name: slidein;
}
html.marker-paused .markline {
  animation-play-state: paused;
}
@keyframes slidein {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
.fish {
  max-height: calc(var(--icon-size) * 1px);
}
[data-fishid]:not(:nth-of-type(2)) {
  margin-top: 1px;
}
.icon, .offset {
  width: calc(var(--icon-size) * 1px);
  flex-shrink: 0;
}
.icon img {
  display: block; /* Get rid of unnecessary spacing at the bottom */
  width: auto;
  height: 100%;
}
.fish .label {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.fish .label .name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  font-weight: bold;
  align-self: center;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fish .label .name:not(:empty) {
  padding-left: 0.5rem;
}
.record,
.record-chum {
  position: absolute;
  display: none;
  min-width: 2px;
  height: 100%;
  background-color: rgba(10,10,10,.5);
}
html.chum-records .record-chum[data-min],
html:not(.chum-records) .record[data-min] {
  display: block;
}
.fish.light .label {
  background-color: rgb(50, 205, 50, .5);
}
.fish.medium .label {
  background-color: rgb(255, 215, 0, .5);
}
.fish.heavy .label {
  background-color: rgb(165, 42, 42, .5);
}
#footer {
  height: 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: x-small;
  text-transform: uppercase;
  display: flex;
  justify-content: right;
  position: relative;
}
#output-msg {
  width: 100%;
  padding: .15rem;
  padding-left: .25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#output-msg::before {
  content: '>';
  opacity: .7;
  padding-right: .1rem
}
#show-settings:hover {
  cursor: pointer;
}
#show-settings::before {
  content: '⚙';
  display: block;
  width: auto;
  height: 100%;
  font-size: 14px;
  line-height: 16px;
  padding-right: .1rem;
}
#settings {
  display: none;
  flex-direction: column;
  background: rgba(10,10,10,.5);
}
html.show-settings #settings {
  display: flex;
}
#settings .row {
  display: flex;
  align-items: stretch;
  padding: 0 .25rem 0 .5rem;
}
#settings .label {
  width: 100%;
  font-size: .8em;
  align-self: center;
  text-align: left;
}
#settings input, 
#settings a {
  width: 0px;
  height: 0px;
}